.containerDark {
  padding: 40px;
  background: #393d3f;
  height: 100%;
  transition: red 300ms;
  transition: background-color 1.5s;
}

.containerLight {
  padding: 40px;
  background: #FAC05E;
  height: 100%;
  transition: background-color 1.5s;
}
