.containerSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.containerMoon {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4px;
}

.containerSun {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 8px;
}